<div class="container">
    <div class="row">
        <h2>Registro de Ventas</h2>
    </div>
    <hr>
    <div>
        <div class="row text-right">
            <span class="text-success font-weight-bold ml-auto">Folio Venta: 000{{venta_id}}</span>
        </div>
        <div class="form-group row">
            <label for="descripcion" class="col-sm-3 col-form-label text-success font-weight-bold text-right my-auto">
                Cliente:</label>
            <div class="col-sm-4">
                <mat-form-field appearance="outline" [style.fontSize]="'12px'" style="width: 100%">
                    <input type="text" placeholder="Nombre del cliente" [(ngModel)]="cliente.fullname" matInput [formControl]="clienteControl" [matAutocomplete]="clienteauto">
                    <mat-autocomplete #clienteauto="matAutocomplete" autoActiveFirstOption (optionSelected)='selectCliente($event.option.value)'>
                        <mat-option *ngFor="let cliente of clientesFiltered | async" [value]="cliente">
                            {{cliente.fullname}}
                        </mat-option>
                    </mat-autocomplete>
                </mat-form-field>
            </div>
            <span class="text-secondary font-weight-bold text-uppercase my-auto" *ngIf='cliente.rfc'>RFC: {{cliente.rfc}}</span>
        </div>

        <div class="form-group row">
            <label for="descripcion" class="col-sm-3 col-form-label text-success font-weight-bold text-right my-auto">
                Articulo:</label>
            <div class="col-sm-4">
                <mat-form-field appearance="outline" [style.fontSize]="'12px'" style="width: 100%">
                    <input type="text" placeholder="Descripcion del artículo" [(ngModel)]="articulo.descripcion" matInput
                        [formControl]="articuloControl" [matAutocomplete]="articuloauto">
                    <mat-autocomplete #articuloauto="matAutocomplete" autoActiveFirstOption
                        (optionSelected)='selectArticulo($event.option.value)'>
                        <mat-option *ngFor="let articulo of articulosFiltered | async" [value]="articulo">
                            {{articulo.descripcion}}
                        </mat-option>
                    </mat-autocomplete>
                </mat-form-field>
                <span class="articulo-add my-auto ml-3" (click)='setArticuloVenta()'><i class="fas fa-plus-square"></i></span>
            </div>
        </div>

        <table class="table table-borderless">
            <thead class="table-header">
                <tr style="font-size: 10pt">
                    <th scope="col" style="width: 25%">Descripción Artículo</th>
                    <th scope="col" style="width: 20%" >Modelo</th>
                    <th scope="col" style="width: 15%">Cantidad</th>
                    <th scope="col" style="width: 15%">Precio</th>
                    <th scope="col" class="text-right" style="width: 15%">Importe</th>
                    <th scope="col" style="width: 5%"></th>
                </tr>
            </thead>
            <tbody style="color:blue; font-size: 11pt" *ngIf='venta'>
                <tr>
                    <td class="align-middle">{{articulo_venta.descripcion}}</td>
                    <td class="align-middle">{{articulo_venta.modelo}}</td>
                    <td><input #cant class="form-control col-md-8 text-center" type="number" [(ngModel)]="articulo_venta.cantidad" (ngModelChange)="updateImporte()" min="1"></td>
                    <td class="align-middle">{{articulo_venta.precio | currency: '$'}}</td>
                    <td class="align-middle text-right">{{articulo_venta.importe | currency: '$'}}</td>
                    <td class="align-middle"><button class="btn btn-outline-danger" type="button" (click)='deleteVenta()'><i class="fas fa-times"></i></button></td>
                </tr>
                <tr><td></td></tr>
                <tr style="border-top: 1px solid #9E9E9E!important;">
                    <td></td><td></td><td></td><td></td><td></td><td></td>
                </tr>
               
                <tr class="table-sm">
                    <td></td><td></td><td></td>
                    <td class="text-right totales">Enganche:</td>
                    <td class="text-right">{{enganche | currency: '$'}}</td>
                    <td></td>
                </tr>
                <tr class="table-sm">
                    <td></td><td></td><td></td>
                    <td class="text-right totales">Bonificación Enganche:</td>
                    <td class="text-right">{{bonificacion | currency: '$'}}</td>
                </tr>
                <tr class="table-sm">
                    <td></td><td></td><td></td>
                    <td class="text-right totales">Total:</td>
                    <td class="text-right">{{total | currency: '$'}}</td>
                </tr>
            </tbody>
        </table>
        <table class="table" *ngIf='etapa===1' >
            <thead>
                <tr>
                    <th scope="col" class="text-center" colspan="5">ABONOS MENSUALES</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>3 ABONOS DE</td>
                    <td>{{plazo_3.abono | currency: '$'}}</td>
                    <td>TOTAL A PAGAR {{plazo_3.total_pagar | currency: '$'}}</td>
                    <td>SE AHORRA {{plazo_3.ahorro | currency: '$'}}</td>
                    <td><input class="form-check-input" type="radio" name="exampleRadios" id="Radios3" value="3" [(ngModel)]="plazo"></td>
                </tr>
                <tr>
                    <td>6 ABONOS DE</td>
                    <td>{{plazo_6.abono | currency: '$'}}</td>
                    <td>TOTAL A PAGAR {{plazo_6.total_pagar | currency: '$'}}</td>
                    <td>SE AHORRA {{plazo_6.ahorro | currency: '$'}}</td>
                    <td><input class="form-check-input" type="radio" name="exampleRadios" id="Radios6" value="6" [(ngModel)]="plazos"></td>
                </tr>
                <tr>
                    <td>9 ABONOS DE</td>
                    <td>{{plazo_9.abono | currency: '$'}}</td>
                    <td>TOTAL A PAGAR {{plazo_9.total_pagar | currency: '$'}}</td>
                    <td>SE AHORRA {{plazo_9.ahorro | currency: '$'}}</td>
                    <td><input class="form-check-input" type="radio" name="exampleRadios" id="Radios9" value="9" [(ngModel)]="plazo"></td>
                </tr>
                <tr>
                    <td>12 ABONOS DE</td>
                    <td>{{plazo_12.abono | currency: '$'}}</td>
                    <td>TOTAL A PAGAR {{plazo_12.total_pagar | currency: '$'}}</td>
                    <td>SE AHORRA {{plazo_12.ahorro | currency: '$'}}</td>
                    <td><input class="form-check-input" type="radio" name="exampleRadios" id="Radios12" value="12" [(ngModel)]="plazo"></td>
                </tr>
            </tbody>
        </table>
        <hr><br>

        <div *ngIf='existencia_error' class="alert alert-danger alert-dismissible fade show" role="alert">
            <strong>Oops!</strong> El artículo seleccionado no cuenta con existencia, favor de verificar.
            <br>
        </div>
        <div *ngIf='datos_error' class="alert alert-danger alert-dismissible fade show" role="alert">
            <strong>Oops!</strong> Los datos ingresados no son correctos, favor de verificar.
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <br>
        </div>
        <div *ngIf='plazos_error' class="alert alert-danger alert-dismissible fade show" role="alert">
            <strong>Oops!</strong> Debe seleccionar un plazo para realizar el pago de su compra.
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <br>
        </div>
        <div class="form-group row text-right">
            <button type="button" routerLink='/ventas'
                class="btn btn-outline-secondary ml-auto mr-4">Cancelar</button>
            <button *ngIf='etapa===0' class="btn btn-outline-success" (click)='getAbonos()' type="submit">Siguiente</button>
            <button *ngIf='etapa===1' class="btn btn-outline-success" (click)='uploadVenta()' type="submit">Guardar</button>
        </div>
    </div>
</div>