::ng-deep .mat-form-field-wrapper{
    padding-bottom: 0 !important;
}

.table-header{
    border-top: 3px solid #9E9E9E!important;
    background: whitesmoke;
}

.articulo-add{
    font-size: 25pt;
    position: absolute;
    cursor: pointer;
    color: rgb(59, 59, 59);
}

.totales{
    color: black;
    font-size: 10pt;
    font-weight: 600;
    background: lightgrey;
    border-bottom: 1px solid white;
    border-radius: 8px;
}
