<div class="container">
    <div class="row">
        <h2>Ventas Activas</h2>
        <button type="button" class="btn btn-outline-success btn-new ml-auto" routerLink="/registro-venta/{{id}}"><i
                class="fas fa-plus"></i> Nueva venta</button>
    </div>
    <hr>
    <table class="table">
        <thead>
            <tr>
                <th scope="col" class="text-center">Folio Venta</th>
                <th scope="col" class="text-center">Clave Cliente</th>
                <th scope="col">Nombre</th>
                <th scope="col">Total</th>
                <th scope="col">Fecha</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let venta of ventas" class="list-item">
                <th scope="row" class="align-middle text-center">000{{venta.folio}}</th>
                <td class="align-middle text-center">000{{venta.clave_cliente}}</td>
                <td class="align-middle">{{venta.nombre_cliente}}</td>
                <td class="align-middle">{{venta.total | currency: '$'}}</td>
                <td class="align-middle">{{venta.fecha}}</td>
            </tr>
        </tbody>
    </table>
</div>