<div class="container">
    <div class="row">
        <h2>Editar articulo</h2>
    </div>
    <hr>
    <form [formGroup]='articuloForm' (ngSubmit)='updateArticulo()' class="col-lg-6 mx-auto">
        <div class="row text-right">
            <span class="text-success font-weight-bold ml-auto">Clave: 000{{articulo.clave}}</span>
        </div>
        <div class="form-group row">
            <label for="descripcion" class="col-sm-5 col-form-label text-success font-weight-bold text-right">
                Descripcion:</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" id='descripcion' formControlName="descripcion"
                    [(ngModel)]='articulo.descripcion'>
                <p class="text-alert-danger"
                    *ngIf='articuloForm.controls.descripcion.invalid && articuloForm.controls.descripcion.touched'>
                    Ingrese un valor válido
                </p>
            </div>

        </div>
        <div class="form-group row">
            <label for="modelo" class="col-sm-5 col-form-label text-success font-weight-bold text-right">
                Modelo:</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" id='modelo' formControlName="modelo"
                    [(ngModel)]='articulo.modelo'>
            </div>

        </div>
        <div class="form-group row">
            <label for="precio" class="col-sm-5 col-form-label text-success font-weight-bold text-right">
                Precio:</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" id='precio' formControlName="precio"
                    [(ngModel)]='articulo.precio'>
                    <p class="text-alert-danger" *ngIf='articuloForm.controls.precio.invalid && articuloForm.controls.precio.touched'>
                        Ingrese un valor válido
                    </p>
            </div>
        </div>

        <div class="form-group row">
            <label for="existencia" class="col-sm-5 col-form-label text-success font-weight-bold text-right">
                Existencia:</label>
            <div class="col-sm-4">
                <input type="text" class="form-control text-uppercase" id='existencia' formControlName="existencia"
                    [(ngModel)]='articulo.existencia'>
                <p class="text-alert-danger"
                    *ngIf='articuloForm.controls.existencia.invalid && articuloForm.controls.existencia.touched'>
                    Ingrese un valor válido
                </p>
            </div>
        </div>
        <br>

        <div class="form-group row text-right">
            <button type="button" routerLink='/articulos'
                class="btn btn-outline-secondary ml-auto mr-4">Cancelar</button>
            <button class="btn btn-outline-success" type="submit" [disabled]="!articuloForm.valid">Guardar</button>
        </div>
    </form>

</div>