<div class="container">
    <div class="row">
        <h2>Registro de clientes</h2>
    </div>
    <hr>
    <form [formGroup]='clienteForm' (ngSubmit)='postCliente()' class="col-lg-6 mx-auto">
        <div class="row text-right">
            <span class="text-success font-weight-bold ml-auto">Clave: 000{{cliente_id}}</span>
        </div>
        <div class="form-group row">
            <label for="nombre" class="col-sm-5 col-form-label text-success font-weight-bold text-right">
                Nombre:</label>
            <div class="col-sm-5">
                <input type="text" class="form-control" id='nombre' formControlName="nombre">
                <p class="text-alert-danger"
                    *ngIf='clienteForm.controls.nombre.invalid && clienteForm.controls.nombre.touched'>
                    Ingrese un valor válido
                </p>
            </div>

        </div>
        <div class="form-group row">
            <label for="ap_paterno" class="col-sm-5 col-form-label text-success font-weight-bold text-right">
                Apellido paterno:</label>
            <div class="col-sm-5">
                <input type="text" class="form-control" id='ap_paterno' formControlName="ap_paterno">
                <p class="text-alert-danger"
                    *ngIf='clienteForm.controls.ap_paterno.invalid && clienteForm.controls.ap_paterno.touched'>
                    Ingrese un valor válido
                </p>
            </div>

        </div>
        <div class="form-group row">
            <label for="ap_materno" class="col-sm-5 col-form-label text-success font-weight-bold text-right">
                Apellido materno:</label>
            <div class="col-sm-5">
                <input type="text" class="form-control" id='ap_materno' formControlName="ap_materno">
            </div>
        </div>

        <div class="form-group row">
            <label for="rfc" class="col-sm-5 col-form-label text-success font-weight-bold text-right">
                RFC:</label>
            <div class="col-sm-5">
                <input type="text" class="form-control text-uppercase" id='rfc' formControlName="rfc">
                <p class="text-alert-danger"
                    *ngIf='clienteForm.controls.rfc.invalid && clienteForm.controls.rfc.touched'>
                    Ingrese un valor válido
                </p>
            </div>
        </div>
        <br>

        <div class="form-group row text-right">
            <button type="button" routerLink='/clientes' class="btn btn-outline-secondary ml-auto mr-4">Cancelar</button>
            <button class="btn btn-outline-success" type="submit" [disabled]="!clienteForm.valid">Guardar</button>
        </div>
    </form>

</div>
