<nav class="navbar navbar-light bg-light px-md-4 mb-3 bg-white border-bottom shadow-sm sticky-top">
  <button type="button" class="btn btn-outline-light" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand ml-3" [routerLink]="['']">
    <img src="../assets/vendimia_logo.png" width="40" height="40" alt="Vendimimia App">
  </a>
  <span class="ml-auto mr-4" style="font-size: 10pt;">{{today | date: 'dd/MMMM/yyyy - HH:mm' }}</span>
  

  <div class="dropdown-menu ml-4">
    <ul class="navbar-nav mr-auto">
      <li class="dropdown-item">
        <a class="nav-link" [routerLink]="['ventas']" routerLinkActive="font-weight-bold">Ventas</a>
      </li>
      <div class="dropdown-divider"></div>
      <li class="dropdown-item">
        <a class="nav-link" [routerLink]="['clientes']" routerLinkActive="font-weight-bold">Clientes</a>
      </li>
      <li class="dropdown-item">
        <a class="nav-link" [routerLink]="['articulos']" routerLinkActive="font-weight-bold">Artículos</a>
      </li>
      <li class="dropdown-item">
        <a class="nav-link" [routerLink]="['configuracion']" routerLinkActive="font-weight-bold">Configuración</a>
      </li>
    </ul>
  </div>
</nav>
<br>
<router-outlet></router-outlet>
