<div class="container">
    <div class="row">
        <h2>Configuración general</h2>
    </div>
    <hr>
    <form [formGroup]='configForm' (ngSubmit)='updateConfig()' class="col-lg-6 mx-auto">
        <div class="form-group row">
            <label for="tasa" class="col-sm-5 col-form-label text-success font-weight-bold text-right">Tasa Financiamiento:</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" id='tasa' formControlName="tasa" [(ngModel)]='config.tasa' >
                <p class="text-alert-danger" *ngIf='configForm.controls.tasa.invalid && configForm.controls.tasa.touched && configForm.controls.tasa.errors.pattern'>
                    Ingrese un valor válido
                </p>
            </div>
            
        </div>
        <div class="form-group row">
            <label for="enganche" class="col-sm-5 col-form-label text-success font-weight-bold text-right">% Enganche:</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" id='enganche' formControlName="enganche" [(ngModel)]='config.enganche' >
                <p class="text-alert-danger" *ngIf='configForm.controls.enganche.invalid && configForm.controls.enganche.touched && configForm.controls.enganche.errors.pattern'>
                    Ingrese un valor válido
                </p>
            </div>
            
        </div>
        <div class="form-group row">
            <label for="plazo" class="col-sm-5 col-form-label text-success font-weight-bold text-right">Plazo Máximo:</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" id='plazo' formControlName="plazo" [(ngModel)]='config.plazo'>
                <p class="text-alert-danger" *ngIf='configForm.controls.plazo.invalid && configForm.controls.plazo.touched && configForm.controls.plazo.errors.pattern'>
                    Ingrese un valor válido
                </p>
            </div>
        </div>
        <br>
        <div *ngIf='success' class="alert alert-success alert-dismissible fade show" role="alert">
            <strong>Bien Hecho!</strong> La configuración ha sido registrada.
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <br>
        </div>
        
        <div class="form-group row text-right">
            <button type="button" routerLink='/' class="btn btn-outline-secondary ml-auto mr-4">Cancelar</button>
            <button class="btn btn-outline-success" type="submit" [disabled]="!configForm.valid">Guardar</button>
        </div>
        
    </form>
    
</div>
