<div class="container">
    <div class="row">
        <h2>Clientes registrados</h2>
        <button type="button" class="btn btn-outline-success btn-new ml-auto"
            routerLink="/registro-cliente/{{id}}"><i class="fas fa-plus"></i> Nuevo cliente</button>
    </div>
    <hr>
    <table class="table">
        <thead>
            <tr>
                <th scope="col" style="width: 10%; text-align: right">Clave</th>
                <th scope="col">Nombre</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let cliente of clientes" class="list-item">
                <th scope="row" class="align-middle">{{cliente.clave}}</th>
                <td class="align-middle">{{cliente.nombre}} {{cliente.ap_paterno}} {{cliente.ap_materno}}</td>
                <td><button type="button" class="btn btn-secondary" routerLink='/editar-cliente/{{cliente.id$}}' ><i class="far fa-edit"></i></button></td>
            </tr>
        </tbody>
    </table>
</div>

