<div class="container">
    <div class="row">
        <h2>Articulos registrados</h2>
        <button type="button" class="btn btn-outline-success btn-new ml-auto" routerLink="/registro-articulo/{{id}}"><i
                class="fas fa-plus"></i> Nuevo articulo</button>
    </div>
    <hr>
    <table class="table">
        <thead>
            <tr>
                <th scope="col" style="width: 10%; text-align: right">Clave</th>
                <th scope="col">Nombre</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let articulo of articulos" class="list-item" data-toggle="modal" data-target="#DetailInternaModal"
                (click)='detailModal(ord)'>
                <th scope="row" class="align-middle text-right">{{articulo.clave}}</th>
                <td class="align-middle">{{articulo.descripcion}}</td>
                <td><button type="button" class="btn btn-secondary" routerLink='/editar-articulo/{{articulo.id$}}'><i
                            class="far fa-edit"></i></button></td>
            </tr>
        </tbody>
    </table>
</div>